* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: min(100%, 1140px);
    /* padding: 0 max(1rem, calc(10vw - 40px)); */
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-align: center;
    min-width: 173px;
    line-height: 57px;
    color: #fff;
    background: #143c3c;
    border-radius: 999px;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

/* header */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.75em;
}

.logo__img {
    height: 26px;
    width: auto;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    padding-right: 69px;
}

.navbar__link {
    padding: 0.5em 1.125em;
    font-weight: 500;
    color: #575d5e;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    margin-right: 30px;
}

.header-action__bars-btn {
    display: none;
}

.navbar__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
}

.navbar__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.2s;
}

.navbar__mobile-list {
    margin: 80px 0 0 50px;
}

.navbar__mobile-link {
    text-decoration: none;
    color: #575d5e;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.navbar__mobile-close {
    width: 15px;
    height: 15px;
    font-size: 1.4rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.navbar__input {
    display: none;
}

.navbar__input:checked ~ .navbar__overlay {
    display: block;
}

.navbar__input:checked ~ .navbar__mobile {
    transform: translateX(0%);
    opacity: 1;
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header-action__bars-btn {
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .logo__img {
        height: 16px;
    }

    .header-action__signup {
        min-width: 92px;
        line-height: 32px;
        font-size: 12px;
    }
}
